<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">z
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sucesso</title>
</head>
<body>
    <p>{{ finished_clients }} clientes foram finalizados!</p>
    <p> Até o momento {{ total_workday_clients }} clientes foram atendidos no expediente!</p>
    <a class="navbar-brand" href="/">Ir para home</a>
    <!-- <a class="navbar-brand" href="/scheduler/">Adicionar mais um cliente à fila</a> -->
</body>
</html>
